<li id="pet-<%= pet.id %>">

  <p id="pet-info"><u><%= link_to pet.name, pet %> </u></p>
  
  	<p id="imgStatus"><b><%= image_tag(pet.image, alt: pet.name, width: "120", height: "120")%>
        <% if pet.user.nil? %>
            &nbsp&nbsp<%=pet.name%> is available for adoption
            <% else %>
            &nbsp&nbsp <%= image_tag("adopted.jpg", width:"120", height:"120")%> 
      	<% end %>
		</b></p>
</li>
