<% provide(:title, @pet.name) %>

<div class="row">
    <div class="col-md-6">
    	<div id="petnamepic" class="well">
                <%= link_to image_tag(@pet.image, width: "100%", height: "100%") %>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <h1>
                Play with your pet!
            </h1>
            <p id="pet-bio">
                <%= @pet.biography %>
            </p>

        <h1 id="feeling">
        	How is <%= @pet.name %> feeling? </br></br>
            <%= image_tag(howHappy(@pet), alt: "IthaPet logo") %>
        </h1>

        </div>
    </div>
</div>


<div id="stats" class = "row">
    <div class="col-md-3">
        Hungriness<br>
        <%= @pet.hungriness %>
    </div>
    <div class="col-md-3">
        Happiness<br>
        <%= @pet.happiness %>
    </div>
    <div class="col-md-3">
        Cleanliness<br>
        <%= @pet.cleanliness %>
    </div>
    <div class="col-md-3">
        Loyalty<br>
        <%= @pet.loyalty %>
    </div>
</div>


<div id="care" class="row">


    <div id="careButton" class="col-md-3">

            <%= form_for(@pet) do |f| %>

            <%= f.submit name: "adopt",value: "Feed"%>
            <% end %>
    </div>
    <div class="col-md-3">
            <%= form_for(@pet) do |f| %>

            <%= f.submit name: "adopt", value: "Walk" %>
            <% end %>
    </div>
    <div class="col-md-3">
            <%= form_for(@pet) do |f| %>

            <%= f.submit name: "adopt", value: "Wash" %>
            <% end %>
    </div>
    <div class="col-md-3">
            <%= form_for(@pet) do |f| %>

            <%= f.submit name: "adopt", value: "Pet" %>
            <% end %>
    </div>

</div>

<%= javascript_tag do %>
    if (!String.prototype.contains) {
        String.prototype.contains = function(s) {
            return this.indexOf(s) > -1
        }
    }

    var url = window.location.href;
    setTimeout(function(){

        var request = new XMLHttpRequest();

        request.open('PATCH', 'http://localhost:3000/pets/1', /* async = */ false);

        var formData = new FormData();
        formData.append('adopt', 'Timer');
        formData.append('action', 'update');
        formData.append('id', 1);
        formData.append('controller', 'pets');

        console.log(formData);

        if (url.contains('edit')) {
            request.send(formData);
            location.reload();
        }

    },10000);

<% end %>

